.consoleContainer {
  transition: all 1s linear;
  position: relative;
  height: 100%;
}

.consoleClear {
  position: absolute;
  top: 0;
  right: 0;
}

.consoleScroll {
  height: 100%;
  overflow: scroll;
}

.consoleTimestamp {
  color: cadetblue;
  font-weight: 600;
}

.consoleFooter {
  height: 10px;
}
